In [1]:
#taking the input from the user
name = input("name : ")
#int input 
age = int(input("age : "))
#float input
price = float(input("price : "))
print("My name is",name,"and I am ",age,"years old ")

name :  Pangavhane Aditya Anil
age :  19
price :  1000.0

My name is Pangavhane Aditya Anil and I am  19 years old

In [1]:
#Conditional Statements
light =input("light : ")
if(light == "red"):
    print("Stop")
elif(light == "yellow : "):
    print("look")
elif(light == "green : "):
    print("go")
else:
    print("Signal is broken ")

light :  red

Stop

In [5]:
#calculate simple interest 
p = float(input("P : "))
r = float(input("R : "))
t = float(input("T : "))
si = (p*r*t) / 100
print("The simple interest is : ",si)

P :  7
R :  1
T :  4

The simple interest is :  0.28

In [1]:
#arithmetic operators 
a = 5
b = 2
print(a + b)
print(a % b)  #reminder
print(a ** b) #power

7
1
25

In [5]:
#relational operators
a = 50
b = 20
print (a==b)
print (a!=b)
print (a>=b)

False
True
True

In [1]:
#logical operators 
print (not True)
print (not False)
val1 = True 
val2 = False
print ("AND Operator : ", val1 and val2 )
print ("OR Operator : ", val1 or val2 )

False
True
AND Operator :  False
OR Operator :  True

In [1]:
#type conversion (automatically) 
a = 2
b = 4.25
sum = a + b  # 2.0 + 4.25 = 6.25 
print (sum)

6.25

In [5]:
#type casting (manually)
a,b = 1,"2"
c =int(b)
sum = a+c
print (sum)

3

In [9]:
#Program to calculate the sum of two numbers
num1 = int(input("Enter the number " ))
num2 = int(input("Enter the number " ))
sum = num1 + num2
print("The addition is :",sum)

Enter the number  4
Enter the number  2

The addition is :  6

In [11]:
#Program to calculate the area of square
side = float(input("Enter the side :"))
area = side * side
print("The area of the square is :",area)

Enter the side : 5

The area of the square is : 25.0

In [15]:
#Program to find average of numbers 
num1 = float(input("Enter the number :" ))
num2 = float(input("Enter the number :" ))
avg = (num1 + num2)/2
print("The average of two numbers is :",avg)

Enter the number : 4
Enter the number : 8

The average of two numbers is : 6.0

In [19]:

a = int(input("Enter the number " ))
b = int(input("Enter the number " ))
if(a>=b):
    print("True")
else:
    print("False")

Enter the number  2
Enter the number  6

False

In [21]:
str1 ="This is string. \n We are learning the python. "
print(str1)

This is string.
 We are learning the python.

In [39]:
#string concatenation 
str1 = "Aditya"
str2 = "Pangavhane"
name = str1 +" "+ str2 
print( name )
#Calculating the length of the string
len1 = len(str1)
print(len1)

len2 = len(str2)
print(len2)

len3= len(name)
print(len3)

Aditya Pangavhane
6
10
17

In [45]:
#indexing (start from 0,1,2...)    (Use : To access chracters)
str ="apna collage "
ch = str[2]
print(ch)

n

In [61]:
#Slicing (accesing the parts of the string )
str ="apna collage "
print(str[1 : 4])
print(str[5 :])
print(str[3 :len(str)])
print(str[ :len(str)])

pna
collage
a collage
apna collage

In [65]:
#Negative Index 
str1="Apple"
print(str1[-3 : -1])

pl

In [26]:
#String functions 
str="i am studying python from the ApnaCollage"
print(str.endswith("age"))
print(str.capitalize())
print(str)
print(str.replace("o","a"))
print(str.replace("python","java"))
print(str.find("o"))
print(str.find("Q")) #For invalid chracter
print(str.count("from"))
print(str.count("a"))

True
I am studying python from the apnacollage
i am studying python from the ApnaCollage
i am studying pythan fram the ApnaCallage
i am studying java from the ApnaCollage
18
-1
1
3

In [30]:
str =input("Enter your first name : ")
len(str)

Enter your first name adi

3

In [34]:
str =input("Enter the string : ")
print(str.count("s"))

Enter the string :  steps

2

In [36]:
#Conditional Statement 
age = int(input("Enter the age "))
#nested if 
if(age>=18):
    if(age>=80):
        print("cannot drive ")
    else:
        print("Can drive")
else:
    print("cannot drive")

Enter the age  67

Can drive

In [43]:
#Program to check number is even or odd
num = int(input("Enter the number"))
if(num % 2==0):
    print("Number is even")
else:
    print("Number is odd")

Enter the number 4

Number is even

In [53]:
#Program to find greatest number among the 3 numbers 
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
c = int(input("Enter the third number"))
if(a>b and a>c):
    print(a,"is a greater number ")
elif(b>=c):
    print(b,"is a greater number ")
else:
     print(c,"is a greater number")

Enter the first number 6
Enter the second number 2
Enter the third number 6

6 is a greater number

In [3]:
#Program to check number is multiple of 7 or not
num = int(input("Enter the number"))
if(num % 7==0):
    print("Number is multiple of 7")
else:
    print("Not multiple")

Enter the number 48

Not multiple

In [3]:
#List in python 
marks = [94.4,87.5,95.3,89.2,79.9]
print(marks)
print(type(marks))
print(marks[0])  #indexing 
print(marks[3])
student = ["ADI",93,"deutsch"] 
print(student)

[94.4, 87.5, 95.3, 89.2, 79.9]
<class 'list'>
94.4
89.2
['ADI', 93, 'deutsch']

In [5]:
#List are mutable
student =["karan",95.4,17,"Delhi"]
print(student[0])
student[0] ="arjun"
print(student )

karan
['arjun', 95.4, 17, 'Delhi']

In [20]:
#Slicing in list
marks = [94,87,95,89,79]
marks[1 : 4]
#marks[-3 : -1] =Negative index

[87, 95, 89]

In [35]:
#List methods
list =[2,1,3]
list.append(4) 
print(list.sort(reverse=True))
print(list)

None
[4, 3, 2, 1]

In [41]:
#sorting in string
list = ["banana","mango","apple"]
print(list.sort(reverse=True))
print(list)

None
['mango', 'banana', 'apple']

In [43]:
list = ["banana","mango","apple"]
list.reverse()
print(list)

['apple', 'mango', 'banana']

In [45]:
list =[2,1,3]
list.insert(1,5)    #list.insert(index,value)
print(list)

[2, 5, 1, 3]

In [47]:
list =[2,1,3,1]
list.remove(1) #remove first occurance of element 
print(list)

[2, 3, 1]

In [51]:
list =[2,1,3,1]
list.pop(2)  #list.pop(idx)
print(list)

[2, 1, 1]

In [5]:
#Tuples in python (immutable)
tup =(2,1,3,1)
print(tup[0]) #indexing 
print(tup[1:4]) #slicing

2
(1, 3, 1)

In [3]:
tup =(1,)   #tuple for a single value
print(tup)

(1,)

In [9]:
#tuple methods 
tup =(1,2,3,4,1)
print(tup.index(2))
print(tup.count(1))

1
2

In [13]:
#program to store your favourite movie names in the list
movies = []
movie1 = input("Enter first movie name")
movie2 = input("Enter second movie name")
movie3 = input("Enter third movie name ")
movies.append(movie1)
movies.append(movie2)
movies.append(movie3)
print(movies)

Enter first movie name ff
Enter second movie name fd
Enter third movie name  dd

['ff', 'fd', 'dd']

In [23]:
#program to check list is palindrome or not 
list1 = [1,2,1]
list2 = [1,2,3]
copy_list2= list2.copy()
copy_list2.reverse()
if(copy_list2 == list2 ):
    print("Palindrome")
else:
    print("Not palindrome")

Not palindrome

In [31]:
#Program to calculate no. of students with "A" grade from the following tuple 
grade =["C","D","A","A","B","B","A"]
print(grade.count("A"))

3

In [39]:
#Program to sort the list 
grade =["C","D","A","A","B","B","A"]
grade.sort()
print(grade)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [58]:
#Dictionary
info ={
    "name":"Aditya Pangavhane",
    "subjects":["python","c","java"],
    "topics":("dict","set"),
    "age" : 19
}
#print(info["name"])
#print(info["age"])
info["name"] = "Adi"  #overwrite
info["surname"] = "Pangavhane"
print(info)

{'name': 'Adi', 'subjects': ['python', 'c', 'java'], 'topics': ('dict', 'set'), 'age': 19, 'surname': 'Pangavhane'}

In [62]:
#empty dictionary 
null_dict ={}
null_dict ["name"] = "adi"
print(null_dict)

{'name': 'adi'}

In [78]:
#Nested dictionry 
student = {
   "name": "Adi pangavhane ",
    "subjects": {
       "phy": 93,
       "chem": 91,
       "math": 90
   }
}
print(student["subjects"])
print(student["subjects"]["chem"])

{'phy': 93, 'chem': 91, 'math': 90}
91

In [5]:
#Dictionary methods 
student = {
   "name": "Adi pangavhane ",
    "subjects": {
       "phy": 93,
       "chem": 91,
       "math": 90
   }
}
print(list(student.keys()))  #type casting 
print(student.keys())        #returns all the keys 
print(len(student))
print(student.values())      #returns all the values 
print(student.items())       #returns all(key,val)pairs as tuples 
print(list(student.items())) #type casting 
print(student.get("name2"))  #returns key according the values 
#print(student["name2"])     #error 
student.update({"city": "delhi","age":19}) #insert specified items to dictionary
print(student)

['name', 'subjects']
dict_keys(['name', 'subjects'])
2
dict_values(['Adi pangavhane ', {'phy': 93, 'chem': 91, 'math': 90}])
dict_items([('name', 'Adi pangavhane '), ('subjects', {'phy': 93, 'chem': 91, 'math': 90})])
[('name', 'Adi pangavhane '), ('subjects', {'phy': 93, 'chem': 91, 'math': 90})]
None
{'name': 'Adi pangavhane ', 'subjects': {'phy': 93, 'chem': 91, 'math': 90}, 'city': 'delhi', 'age': 19}

In [15]:
#Sets
collection = { 1 ,2 ,3 ,4,"hello","hello","world" }   #Only values are stored 
print(collection)
print(type(collection))
print(len(collection))                               #duplicate values are ignored

{'hello', 1, 2, 3, 4, 'world'}
<class 'set'>
6

In [19]:
#empty set
collection  = set() 
print(type(collection))

<class 'set'>

In [28]:
#Set methods 
collection  = set()
collection.add(1)
collection.add(2)
collection.add(3)
collection.remove(1)
collection.clear()    #empties the set
print(len(collection))

0

In [37]:
collection = {"hello","apanacollage","world","coding","python"}
print(collection.pop())   #removes the random values

hello

In [43]:
#Union method (combines both set values  & returns new)
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.union(set2))
print(set1)
print(set2)
#Intersection method (combines the common values & returns new)
print(set1.intersection(set2))

{1, 2, 3, 4}
{1, 2, 3}
{2, 3, 4}
{2, 3}

In [54]:
#Program to store word meanings in dictionary
dict = {
    "table" :("a piece of furniture","list of facts and fig."),
    "cat":"a small animal"
   }
print(dict)

{'table': ('a piece of furniture', 'list of facts and fig.'), 'cat': 'a small animal'}

In [58]:
#Program to find the no. of classes required (using sets)
sub = {"python","java","c++","python","javascript",
       "java","python","java","c++","c"}
print(len(sub))

5

In [5]:
#Program to store the marks of subjects in dictionary  
marks= {} 
x = int(input("Enter phy marks : "))
marks.update({"phy": x})
x = int(input("Enter chem marks : "))
marks.update({"chem": x})
x = int(input("Enter bio marks : "))
marks.update({"bio": x})
print(marks)

Enter phy marks :  79
Enter chem marks :  34
Enter bio marks :  24

{'phy': 79, 'chem': 34, 'bio': 24}

In [9]:
#Program to set 9 & 9.0 in a set
values = {
    ("float",9.0),
    ("int",9)
}
print(values)

{('int', 9), ('float', 9.0)}

In [16]:
#Loops in python 
count = 1
while count <= 5:
    print("hello")
    count += 1
print(count)

hello
hello
hello
hello
hello
6

In [1]:
#Program to print numbers from 1 to 5
i=5
while i >=1:
    print(i)
    i -=1
print("loop ended")

5
4
3
2
1
loop ended

In [1]:
#Program to print the numbers from 1 to 10
i = 1
while i <=10:
    print(i)
    i+=1
print("loop ended")

1
2
3
4
5
6
7
8
9
10
loop ended

In [5]:
#Program to print the numbers from 10 to 1
i = 10
while i >=1:
    print(i)
    i-=1
print("loop ended")

10
9
8
7
6
5
4
3
2
1
loop ended

In [17]:
#Print the multiplication table of number n 
n = int(input("Enter the number : "))
i = 1
while i<=10:
    print(n*i)
    i+=1

Enter the number :  16

16
32
48
64
80
96
112
128
144
160

In [23]:
#Print the list 
nums = [1,4,9,16,25,36,49,64,81,100]
idx = 0
while idx < len(nums):
    print(nums[idx]) #nums[0],nums[1]....
    idx +=1

1
4
9
16
25
36
49
64
81
100

In [1]:
#Program to search number x in tuple 
nums = (1,4,9,16,25,36,49,64,81,100)

x=36
i = 0   #initialization 
while i < len(nums):
      if(nums[i] == x) :
          print("Found at idx ",i)
      i+=1

Found at idx  5

In [3]:
#Break keyword 
i = 1
while i <=5:
    print(i)
    if(i==3):
        break
    i+=1
print("end of loop")

1
2
3
end of loop

In [5]:
#continue keyword 
i = 0
while i<=5:
    if(i==3):
        i+=1
        continue   #skip 
    print(i)
    i+=1

0
1
2
4
5

In [13]:
#program to print odd numbers from 1 to 20 
i=0
while i<=20:
    if(i%2==0):
        i+=1
        continue
    print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19

In [15]:
#program to print even numbers from 1 to 20 
i=0
while i<=20:
    if(i%2!=0):
        i+=1
        continue
    print(i)
    i+=1

0
2
4
6
8
10
12
14
16
18
20

In [1]:
#For loop 
nums =[1,2,3,4,5]

for val in nums:
    print(val)

1
2
3
4
5

In [3]:
veggies = ["potato","bringle","ladyfinger","cucumber"]

for val in veggies:
    print(val)

potato
bringle
ladyfinger
cucumber

In [7]:
tup = (1,2,3,4,2,8,9)

for num in tup :
    print(num)
else:
    print("END")

1
2
3
4
2
8
9
END

In [9]:
#Print the element of list using for loop
list =[1,4,9,16,25,36,49,64,81,100]

for num in list:
    print(num)
else:
    print("END")

1
4
9
16
25
36
49
64
81
100
END

In [15]:
#Search the element x in the list

list =[1,4,9,16,25,36,49,64,81,100,16]
x = 16
idx = 0
for num in list:
    if(num==x):
        print("Number found at idx",idx)
    idx+=1

Number found at idx 3
Number found at idx 10

In [25]:
#range()   (starting from the 0 by default and increment by 1 by default)
#seq = range(5)

#for i in range(10):   #range(stop)
 #   print(i)

#for i in range(2,10):   #range(start,stop)
 #   print(i)

for i in range(2,10,2):   #range(start,stop,step)
    print(i)

2
4
6
8

In [31]:
#Program to print all odd numbers from the 2 to 100
for i in range (1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
#Practice questions
#Q.1  Print numbers from 1 to 50
for i in range (1,51):
    print(i)

In [40]:
#Q.2  Print numbers from 50 to 1
for i in range (50,0,-1):
    print(i)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [42]:
#Q.3 Print the multiplication table of n
n = int(input("Enter the number : "))
for i in range (1,11):
    print(n*i)

Enter the number 3

3
6
9
12
15
18
21
24
27
30

In [44]:
#Pass statement i.e.- null statement 
for i in range(5):
    pass
print("some useful work")

some useful work

In [3]:
#Program to find the sum of first n numbers (using while)
n = 7
sum = 0
i=1
while i <= n :
    sum +=i
    i += 1
    #for i in range(1,n+1):
   # sum+=i
print("Total sum = ",sum)

Total sum =  28

In [1]:
#Program to find factorial of first n natural numbers(using while)
n = 5 
fact = 1
i = 1
while i <= n:
    fact *= i
    i+=1
print("Factorial = ",fact)

Factorial =  120

In [1]:
#Program to find factorial of first n natural numbers(using for loop)
n = 5 
fact = 1
for i in range(1,n+1):
    fact*= i
print("factorial = ",fact)

factorial =  120

In [9]:
#Function    (Use: To reduce redundancy )  
#Function defination 
def calsum(a,b):  #Parameters 
    return a + b
sum = calsum(5,2) #Function call
print(sum)

7

In [12]:
#Function with no return value 
def print_hello():
    print("hello")
output = print_hello
print(output)   #None

<function print_hello at 0x000001BEDA2CC900>

In [14]:
#Program to calculate average of three numbers 
def cal_avg(a,b,c):
    sum = a + b + c
    avg = sum/3
    print(avg)
cal_avg(1,2,3)

2.0

In [18]:
#Types of functions   1.Built-in functions  2.User defined functions 
#1. Print()
print("XYZ","Aditya",end= " ")  #sep = " "
print("adi")          #End = " \n "
#2.len()
#3.Type()
#4.Range()

XYZ Aditya
adi

In [26]:
#Default Parameters 
def cal_prod(a,b=2):   # parameters(no default,default)
    #print( a * b )
    return a*b
cal_prod(1)

2

In [28]:
#Program to print the length of list 
cities =["delhi","gurgaon","noida","pune","mumbai","madras"]
def print_len(list):
    print(len(list))
print_len(cities)

6

In [30]:
#Program to print element of list in a single line 
cities =["delhi","gurgaon","noida","pune","mumbai","madras"]
def print_list(list):
    for item in list:
        print(item,end=" ")
print_list(cities)

delhi gurgaon noida pune mumbai madras

In [34]:
#Program to find the factorial of n (n is the parameters)
# n = 5
# fact =1 
# for i in range(1,n+1):
#     fact *=i
# print(fact)

def cal_fact(n):
    fact=1
    for i in range(1,n+1):
        fact *=i
    print(fact)
cal_fact(5)

120

In [36]:
#Program to convert USD To INR
def convertor(usd_val):
    inr_val = usd_val *83 
    print(usd_val,"USD = ",inr_val,"INR")
convertor(10)

10 USD =  830 INR

In [44]:
#Program to check number is even or odd (using function)
n=int(input("Enter the number "))
def num(n):
    if(n%2==0):
        print("Number is even")
    else:
        print("Number is odd")
num(n)

Enter the number  3

Number is odd

In [52]:
# Recursion :  ( Function calls itself repeadtly) & somewhat similiar to loop
#Print n to 1 backwards 
def show (n):
    if(n==0):   #base case 
        return
    print(n)
    show(n-1)
    print("END")
show(3)

3
2
1
END
END
END

In [62]:
#Returns n!   n!=(n-1)! * n [Recurrence relation]
def fact(n):     #Call stack 
    if(n==0 or n==1):  
        return 1
    return fact(n-1) * n
print(fact(5))

120

In [70]:
# Program to calculate sum of natural numbers (using recursion)
def cal_sum(n):
    if(n==0):
        return 0
    return cal_sum(n-1) + n 
sum = cal_sum(5)
print(sum)

15

In [74]:
#Write a recursive function to print all elements in a list 
def print_list(list,idx=0):
     if(idx == len(list)):
         return 
     print(list[idx])
     print_list(list,idx+1)
fruits = ["mango","litchi","apple","banana"]

print_list(fruits)

mango
litchi
apple
banana

In [3]:
#OOP IN PYTHON 
#Creating class and object
class Student:     #class
    name = "Aditya"
s1 = Student()     #object
print(s1.name)

Aditya

In [5]:
class Car:
    color= "blue"
car1 = Car()
print(car1.color)

blue

In [13]:
#CONSTRUCTOR - (__init__ function )
class Student:
    # Default constructors
     def __init__(self):
          pass
    # Parameterized constructor
     def __init__(self, fullname):
        self.name = fullname
        print("adding new student in database..")
         
s1 = Student("ADI")    
print(s1.name) 
s2 = Student("ram")    
print(s2.name)

adding new student in database..
ADI
adding new student in database..
ram

In [19]:
#Class and instance attribute
class Student:
    collage_name = "sanjivani"
    name ="anonymous"     #class attribute 
    
    def __init__(self,name,marks):
        self.name = name
        self.marks= marks 
        print("adding new student in database..")
         
s1 = Student("ADI",98)    
print(s1.name)

adding new student in database..
ADI

In [26]:
#METHODS 
class Student:
    collage_name = "sanjivani"
    
    def __init__(self,name,marks):
        self.name = name
        self.marks= marks 
    def welcome(self):
        print("welcome students ",self.name)
    def get_marks(self):
        return self.marks
s1 = Student("ADI",98)    
s1.welcome()
print(s1.get_marks())

welcome students  ADI
98

In [34]:
#QUE1 -
#Create student class that takes name ,marks, of 3 subjects as arguments in constructor.and create a method to print average
class Student:
    def __init__(self,name,marks):
        self.name = name 
        self.marks= marks
    def get_avg(self):
        sum = 0
        for val in self.marks:
            sum += val
        print("Hii",self.name,"your avg score is:",sum/3)
s1 = student("Adi ",[99,98,97])
s1.get_avg()
s1.name = "Yash"
s1.get_avg()

Hii Adi  your avg score is: 98.0
Hii Yash your avg score is: 98.0

In [38]:
#Static methods 
class Student :
    @staticmethod   #decorator 
    def collage():
        print("sanjivani collage")

In [42]:
#Pillars of OOP
#1.Abstraction 
class Car :
    def __init__(self):
        self.acc = False
        self.brk = False
        self.clutch = False

    def start(self):
        self.clutch = True
        self.acc = True 
        print("Car is staretd...")
car1 = Car()
car1.start()

Car is staretd...

In [48]:
#Progarm for bank account 
class Account :
    def __init__(self,bal,acc):
        self.balance = bal
        self.account_no = acc
        
    #debit method
    def debit(self,amount):
        self.balance -= amount
        print("Rs.",amount,"was debited" )
        print("total balance = ",self.get_balance())
        
    #Credit method 
    def credit(self,amount):
        self.balance += amount
        print("Rs.",amount,"was creadited" )
        print("total balance = ",self.get_balance())

    #For balance 
    def get_balance(self):
        return self.balance
        
acc1 = Account(10000,12345)
acc1.debit(1000)
acc1.credit(500)

Rs. 1000 was debited
total balance =  9000
Rs. 500 was creadited
total balance =  9500

In [3]:
#OOP PART -2
#del keyword
class Student:
    def __init__(self,name):
        self.name =name
s1 =Student("Aditya")
print(s1.name)
del s1.name
#print(s1.name)

Aditya

In [9]:
#Private attribute and methods 
class Account:
    def __init__(self,acc_no,acc_pass):
        self.acc_no = acc_no
        self.__acc_pass = acc_pass

    def reset_pass(self):
        print(self._acc_pass)
        
acc1 = Account("1234","abcde")
print(acc1.acc_no)
print(acc1.__acc_pass)

1234

AttributeError: 'Account' object has no attribute '__acc_pass'

In [15]:
class Person :
    __name = "anonymous"    #Private attribute
    def __hello():          #Private method
        print("hello person :")
p1 = Person()
#print(p1.__name)
print(p1.__hello())

AttributeError: 'Person' object has no attribute '__hello'

In [21]:
#Inheritance
#1. Single Inheritance
class Car:     #Parent class/Base class
    @staticmethod 
    def start():
        print("car started..")

    @staticmethod 
    def stop():
        print("car stopped")

class ToyotaCar(Car) :  #Child class 
    def __init__(self,name):
        self.name = name 
        
car1 = ToyotaCar("fortuner")
car2 = ToyotaCar("BMW")

#print(car1.name)
print(car1.start())

car started..
None

In [26]:
#2. Multi-level Inheritance
class Car:    
    @staticmethod 
    def start():
        print("car started..")

    @staticmethod 
    def stop():
        print("car stopped")

class ToyotaCar(Car) :  
    def __init__(self,brand):
        self.brand = brand

class Fortuner(ToyotaCar):
    def __init__(self,type):
        self.type = type

car1 = Fortuner("diesel")
car1.start()

car started..

In [28]:
#3. Multiple Inheritance
class A:
    varA = "Welcome to class A"

class B:
    varB = "Welcome to class B"

class C(A,B):
    varC = "Welcome to class C"
c1 = C()

print(c1.varC)
print(c1.varB)
print(c1.varA)

Welcome to class C
Welcome to class B
Welcome to class A

In [42]:
#Super method 
class Car:
     def __init__(self,type):
        self.type = type
     @staticmethod 
     def start():
        print("car started..")

     @staticmethod 
     def stop():
        print("car stopped")

class ToyotaCar(Car) :  
     def __init__(self,name,type):
          super().__init__(type)    #Super method  (Calls parent class constructor)
          self.name = name
          super().start()

car1 = ToyotaCar("prius","electric")
print(car1.type)

car started..
electric

In [5]:
#Class methods 
class Person :
    name = "anonymous"

    # def changeName(obj,name):
    #     self.__class__.name = "ADI"
    @classmethod
    def changeName(cls,name):
        cls.name= name
p1 = Person()
p1.changeName("Aditya Pangavhane")
print(p1.name)
print(Person.name)

Aditya Pangavhane
Aditya Pangavhane

In [23]:
#Property decorator 
class Student :
    def __init__(self,phy,chem,math):
        self.phy = phy
        self.chem = chem
        self.math = math
        
    @property
    def percantage(self):
        return str((self.phy + self.chem + self.math) / 3) + "%"
stud1 = Student(89,92,94)
print(stud1.percantage)

stud1.phy = 94
print(stud1.percantage)

91.66666666666667%
93.33333333333333%

In [33]:
#4 - Polymorphism
# Implicit overloading 
# print( 1 + 2 )
# print("apna" + "collage" )  #concatenation
# print([1,2,3] + [4,5,6])    #merge
# print(type(1))
# print(type("adi"))
# print(type([1,2,3]))

3
apnacollage
[1, 2, 3, 4, 5, 6]
<class 'int'>
<class 'str'>
<class 'list'>